.header {
  background-color: #212529;
}

.header__img {
  margin-bottom: 10px;
}

.header__link {
  color: white;
}

.header__box-link {
  width: 145px;
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: #02B875ff;
}