.info {
  background-color: #5c60d5ff;
}

.info__box {
  padding-top: 75px;
  padding-bottom: 75px;
}

.info__img {
  border-radius: 100px;
  margin-right: 40px;
}

.info__text {
  font-size: 35px;
  width: 775px;
  color: white;
}

.info__mini-text {
  color: white;
}