.intro {
  background-color: #516fdfff;
}

.intro__box {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.intro__title {
  color: white;
  font-size: 50px;
  margin-bottom: 30px;
}

.intro__box-link {
  width: 155px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #8a95e5ff;
  color: white;
}